# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\louis\Desktop\AMNS_IMPLEMENTATION\VALIDATION\TEST_VECTORS\GENERATION\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
